<h1>Editing Diary</h1>

<%= render 'form' %>

<button type="button" class="btn btn-warning"><%= link_to 'Show', @diary %></button>
<button type="button" class="btn btn-primary"><%= link_to 'Back', diaries_path %></button>
