// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-index{
    margin-top:20px;
    margin-left:40%;
}

.project-index-li{
    margin-bottom:10px;
}

.project-new{
    margin-top:20px;
    margin-left:40%;
}


.project-new-p{
    width: 40%;
}

.project-new-btn{
    width: 100px;
    height: 60px;
}

.project-show-h{
    margin-top:20px;
    margin-left:30%;
}

.project-show-ul{
    margin-left:27%;
    margin-right:25%;
    padding-bottom:15px;
}

.project-show-li{
    list-style:none;
}

.project-show-li input{
    width:30px;
    height:10px;
}


.project-show-form{
    margin-top:20px;
    list-style:none;
}